body {
    margin: 0;
    overflow: hidden;
}

#photo-container img {
    box-sizing: border-box;
}

#photo-container img:first-child {
    float: left;
    height: 100vh;
}

#photo-container img:not(:first-child) {
    float: left;
    width: calc(100vw - (100vh / 3 * 4));
}
