body {
    margin: 0;
    overflow: hidden;
}

#photo-container {
}

#photo-container img {
    width: 10%;
    float: left;
    margin: 0 5px 5px 0;
}

#photo-container img:first-child {
    width: 78%;
}
