#photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#photo-container photo-booth-image:first-child img {
    width: 60%;
}

#photo-container photo-booth-image img {
    width: 150px;
    float: left;
    margin: 0 5px 5px 0;
}